<div class="hero">
    {% if matrix.hintergrundbild|length %}
        <img src="{{ matrix.hintergrundbild.one.url }}" alt="">
    {% endif %}
    <div class="foreground inner">
        <div class="heroContent">
            <h1>Hero Module</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae saepe aliquid cumque perferendis numquam atque provident porro dolores cupiditate repudiandae, non aperiam qui molestiae doloremque, similique est, animi sunt inventore.</p>
        </div>  
    </div>
</div>